<div *ngIf="loader" class="lds-facebook">
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="container">
    <div class="row pgRow">
        <div class="col-lg-4 col-sm-12 card" *ngFor="let pg of AllPgs |
        GenderFilter :gender | OccupancyFilter:occupancy | MonthlyRentFilter:monthlyRent | LocationFilter:location">
        
            <img class="card-img-top" [src]="pg.pgImages[0].image_Url" alt="First slide">
            <div class="card-body">
                <h6 class="card-title">{{pg.pg_Name}}</h6>
                <p id="address">{{pg.pg_Address.line1}}</p>
                <p class="card-text"><span id="amount">₹ {{pg.pg_Price}}/</span>month onwards</p>
                <button id="viewDetailbtn" class="btn bvd" (click)="ShowDeatils(pg)">View Detail</button>
                <button id="vistbtn" class="btn bsfv" (click)="VisitBooking(pg)">Schedule Free Visit</button>
            </div>
        </div>
    </div>
</div>