.card{
    margin:20px;
    border: 0px;
}

h6,p{
    color: grey;
}
#amount{
    color: black;
}
#vistbtn{
    margin-left: 10px;

}
.card-img-top,.d-block{
    width: 100% !important;
    height: 40vh;
    background-size: cover;
    }
