<nav class="bg-light sidebar">
    <div class="sidebar-sticky">
        <br>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">Gender
        </h6>
        <hr>
        <ul class="nav flex-column">
            <li class="nav-item">
                <div class="checkbox">
                    <label><input type="checkbox" name="Gender" value="Unisex"> Unisex</label>
                </div>
            </li>
            <li class="nav-item">
                <div class="checkbox">
                    <label><input type="checkbox" name="Gender" value="Boys Only"> Boys Only</label>
                </div>
            </li>
            <li class="nav-item">
                <div class="checkbox">
                    <label><input type="checkbox" name="Gender" value="Girls Only"> Girls Only</label>
                </div>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">Monthly Rent
        </h6>
        <hr>
        <ul class="nav flex-column">
            <li class="nav-item">
                <div class="checkbox">
                    <label><input type="checkbox" name="Monthly Rent" value="less than 5000">  <₹ 5,000</label>
                </div>
            </li>
            <li class="nav-item">
                <div class="checkbox">
                    <label><input type="checkbox" name="Monthly Rent" value="5000-7000">  ₹ 5,000 - 7,500</label>
                </div>
            </li>
            <li class="nav-item">
                <div class="checkbox">
                    <label><input type="checkbox" name="Monthly Rent" value="greater than 7,500"> >₹ 7,500</label>
                </div>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">Occupancy
        </h6>
        <hr>
        <ul class="nav flex-column">
            <li class="nav-item">
                <div class="checkbox">
                    <label><input type="checkbox" name="Occupancy" value="Single"> Single</label>
                </div>
            </li>
            <li class="nav-item">
                <div class="checkbox">
                    <label><input type="checkbox" name="Occupancy" value="Double"> Double</label>
                </div>
            </li>
            <li class="nav-item">
                <div class="checkbox">
                    <label><input type="checkbox" name="Occupancy" value="Triple"> Triple</label>
                </div>
            </li>
        </ul>

    </div>
</nav>